html, body {
  margin: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.reto {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(to right, #b185f6, #a5d8ff);
  color: white;
  height: 70px;
}

#app {
  flex: 1;
  height: 100%;
}
.usuario{
  width: 46px;
    height: auto;
    position: absolute;
    right: 10px;
    margin: 5px;
    justify-content: center;
    bottom: 3px;
}